	/* JARVIS ANDRIANO - 03082190017 */

	header{ 
		background-color: black;
		padding-top: 25px;
		padding-bottom: 80px;
		color: white;
		padding-left: 10px;
	}

	.judulAU{
		float: left;
		width: 50%;
		font-size: 50px;
		margin: 0px;
		font-family: "Lucida Console", "Courier New", monospace;
	}

	.judulUDR{
		float: right;
		width: 50%;
		font-size: 30px;
		margin-top: 10px;
		font-family: "Lucida Console", "Courier New", monospace;
		text-align: right;
		margin-right: 0px;
	}

	.vision{
		background-color: blue;
		float: left;
		width: 50%;
		text-align: justify;
		color: white;
	}

	.isiV{ 
		font-family: "Lucida Console", "Courier New", monospace;
		margin-top: 2px;
		margin-bottom: 15px;
		margin-left: 10px;
		margin-right: 10px;
		padding-bottom: 19px;
	}
	
	.judulV{
		font-family: "Lucida Console", "Courier New", monospace;
		font-size: 40px;
		margin-bottom: 0px;
		margin-top: 15px;
		margin-left: 10px;
		color: red;
	}

	.mission{
		background-color: green;
		float: right;
		width: 50%;
		text-align: justify;
		color: white;
	}

	.isiM{ 
		font-family: "Lucida Console", "Courier New", monospace;
		margin-top: 2px;
		margin-bottom: 15px;
		margin-left: 10px;
		margin-right: 10px;
	}
	
	.judulM{
		font-family: "Lucida Console", "Courier New", monospace;
		font-size: 40px;
		margin-bottom: 0px;
		margin-top: 15px;
		margin-left: 10px;
		color: red;
	}

	img#limaP{
		height: 300px;
		width: 550px;
		float: left;
		padding-right: 40px;
	}

	.teamK{
		font-family: "Lucida Console", "Courier New", monospace;
		background-color:  rgb(13, 15, 92);
		height: 300px;
		color: white;
	}

	.judulT{
		font-size: 40px;
		margin-top: 200px;
		color: red;
	}

	.tulisanT{
		padding-left: 20px;
		margin-top: -20px;
		text-align: justify;
		margin-right: 10px;
	}

	img#duaJ{
		height: 300px;
		width: 550px;
		float: right;
		padding-left: 40px;
	}

	.kampusK{
		font-family: "Lucida Console", "Courier New", monospace;
		background-color:  rgb(13, 15, 92);
		height: 300px;
		color: white;
	}

	.judulK{
		padding-left: 20px;
		font-size: 40px;
		margin-top: 50px;
		color: red;
	}

	.tulisanK{
		padding-left: 20px;
		margin-top: -20px;
		text-align: justify;
		margin-right: 10px;
	}

	.informasi{
		color: white;
		background-color:  rgb(13, 15, 92);
		padding: 20px;
	}

	.isiInf{
		font-size: 30px;
	}

	.isiInfL{
		font-size: 20px;
	}

	.isiInfE{
		font-size: 20px;
	}

	.judulCU{
		float: left;
		width: 50%;
		font-size: 50px;
		margin: 0px;
		font-family: "Lucida Console", "Courier New", monospace;
	}

	.judulAN{
		float: left;
		width: 50%;
		font-size: 50px;
		margin: 0px;
		font-family: "Lucida Console", "Courier New", monospace;
	}

	img#tigaJ{
		height: 300px;
		width: 550px;
		float: right;
		padding-left: 40px;
	}

	.syarat{
		font-family: "Lucida Console", "Courier New", monospace;
		background-color:  rgb(13, 15, 92);
		height: 300px;
		color: white;
	}	

	.isiAN{
		padding-left: 20px;
		font-size: 40px;
		margin-top: 50px;
	}

	.tulisanAN{
		padding-left: 20px;
		margin-top: -20px;
		text-align: justify;
		margin-right: 10px;
	}

	footer{
		background-color: rgb(23, 23, 75);
		margin-top: 20px;
		color: white;
		height: 200px;
	}

	.footUDR{
		padding: 20px;
		font-size: 30px;
		width: 50%;
		float: left;
	}

	.menuFoot{
		padding-bottom: 10px;
	}

	.menuFoot a{
		color: white;
		text-decoration: none;
		font-size: 20px;
		float: left;
		width: 50%;
		padding-left: 20px;
	}

	a:hover { color: red;
	}